.alf-region {
    overflow: hidden;

    .body-text span {
        text-align: justify;

        &.row {
            display: block;
            text-align: justify;
            text-align-last: justify;
            -webkit-text-align-last: justify;
            width: 100%;
            height: $line-height;
        }

        &.row:last-of-type {
            text-align-last: auto;
            -webkit-text-align-last: auto;
        }
    }
}
